<template>
    <form class="form-inline" method="POST" :action="route">
        <div class="form-group">
            <datepicker :language="language"
                        inputClass="form-control mb-2"
                        format="yyyy-MM-dd"
                        name="date"
                        id="date"
                        placeholder="YYYY-MM-DD"
            ></datepicker>
            <input type="hidden" name="_token" :value="csrf">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Запросить</button>
            </div>
        </div>
    </form>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import ru from 'vuejs-datepicker/src/locale/translations/ru'

    export default {
        name: "SelectDate",
        props: ['csrf', 'route'],
        data() {
            return {
                language: ru,
            }
        },
        mounted() {
            // console.log(this.oldInputs.reportName);
        },
        components: {
            Datepicker
        }
    }
</script>

<style scoped>

</style>
